<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charste="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Recipe home</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
	
	<!-- Latest compiled and minified JavaScript -->
	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
		
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 offset-md-3">
				<div class="card">
					<div class="card-header">
						<h1>My Recipes!</h1>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Description</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="recipe : ${recipes}">
										<td th:text="${recipe.id}">ID</td>
										<td th:text="${recipe.description}">DESC</td>
										<td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>